* {
  margin: 0px;
}

.container {
  text-align: center;
  padding: 20px;
}

.books {
  margin: 0 auto;
  max-width: 700px;
  border: 1px grey solid;
  margin-bottom: 20px;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 15px;
}

.book:nth-child(odd) {
  background-color: rgb(207, 207, 207);
}

.remove-btn {
  margin-left: auto;
  padding: 10px;
  background-color: red;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover{
    background-color: #fff;
    color: red;
    border: 1px solid gray;
}

.bottom-border{
    width: 300px;
    border-top: 4px solid black;
    border-radius: 10px;
    margin: 30px auto 30px auto; 
}

.form{
    width: 40%;
    margin: 0 auto;
    padding: 2%;
}

h2{
    margin: 0 auto 20px auto;
}

input[type="text"]{
    width: 50%;
    padding: 8px;
}

#addBtn{
    width: 10%;
    padding: 5px;
    margin-left: 44%;
    color: #fff;
    background: rgb(15, 221, 15);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid gray;
}

#addBtn:hover {
color :rgb(15, 221, 15);
background : #fff;
border : 1 px solid gray;
}
